{% extends 'base.html' %} {% block head_title%} -> Home {% endblock head_title %} {% block content %}
<div class="row text-center">
    <div class="col">
        <h2>Welcome To Tweetme2</h2>
    </div>
</div>
<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form action="/create-tweets/" class="form" id='create-tweet-form' method="post">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input name="next" type="hidden" value="/">
            <textarea class="form-control mb-3" name="content" placeholder="Your Tweet......"
                      required='required'></textarea>
            <button class="btn btn-primary" type="submit">Tweet</button>
        </form>
    </div>
</div>
<div class='row' id="tweet">
    Loading....
</div>
<script>
    function handleTweetFormError(msg, display) {
        let myError = document.getElementById("tweet-create-form-error");
        if (display === true) {
            myError.setAttribute("class", "d-block alert alert-danger")
            myError.innerText = msg
        } else {
            myError.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const newFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        // console.log(url,method)
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", 'XMLHttpRequest')
        xhr.setRequestHeader("X-Requested-With", 'XMLHttpRequest')
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.onload = function () {
            if (xhr.status === 201) {
                handleTweetFormError("", false)
                const newTweetJson = xhr.response
                // const newTweetJson = JSON.parse(newTweet)
                // console.log(newTweetJson);
                const newTweetEl = formatTweetElement(newTweetJson)
                // console.log(newTweetEl);
                ogHtml = tweetContainerElement.innerHTML
                tweetContainerElement.innerHTML = newTweetEl + ogHtml
                myForm.reset()
            }
            if (xhr.status === 400) {
                const errorJson = xhr.response
                // console.log(errorJson);
                const contenterror = errorJson.content
                let contenterrorMsg;
                if (contenterror) {
                    contenterrorMsg = contenterror[0]
                    if (contenterrorMsg) {
                        handleTweetFormError(contenterrorMsg, true)
                    } else {
                        alert('An Error Occurred. Please Try Again Later.')
                    }
                } else {
                    alert('An Error Occurred. Please Try Again Later.')
                }
                // console.log(contenterrorMsg)
            }
            if (xhr.status === 401) {
                alert("You Must Login.")
                window.location.href = "/login"
            }
            if (xhr.status === 403) {
                alert("You Must Login.")
                window.location.href = "/login"
            }
            if (xhr.status === 500) {
                alert("An Server Error Occurred. Please Try Again Later.")
            }
        }
        xhr.onerror = function () {
            alert("An Error Occurred. Please Try Again Later.")
        }
        xhr.send(newFormData)

    }

    const createTweetEl = document.getElementById("create-tweet-form")
    createTweetEl.addEventListener("submit", handleTweetCreateFormDidSubmit)


    const tweetContainerElement = document.getElementById("tweet")

    // tweetElement.innerHTML="Loading ....."
    function loadTweets(tweetElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            // console.log(xhr.response)
            const serverResponse = xhr.response
            const listedItems = serverResponse
            var finalTweetString = ""
            var i;
            for (i = 0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                // console.log(currentItem)
                finalTweetString += currentItem
            }
            // console.log(finalTweetString)
            tweetElement.innerHTML = finalTweetString
            // console.log(listedItems)
        }
        xhr.send()

    }

    loadTweets(tweetContainerElement)


    function handleDidLike(tweet_id, currentcount) {
        console.log(tweet_id);
        console.log(currentcount);
        currentcount++
        console.log(currentcount);


    }

    function LikeBtn(tweet) {
        return '<button class="btn btn-primary btn-sm" name="button" onclick =handleDidLike(' + tweet.id + ',' + tweet.likes + ')>' + tweet.likes + ' Likes</button>';
    }

    function formatTweetElement(tweet) {
        var formattedElement = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id ='tweet-" + tweet.id + "'><p>" + tweet.content + "</p><div class ='btn-group'>" + LikeBtn(tweet) + "</div></div>"
        return formattedElement;
    }
</script>
{% endblock content %}