{% extends 'base.html' %}

{% block head_title%}
 -> This is amazing
{% endblock head_title %}

{% block content %}
Welcome To Tweetme2
<div id="tweet">
  Loading....
</div>
<script>
const tweetElement = document.getElementById("tweet")
// tweetElement.innerHTML="Loading ....."
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = 'json'

xhr.responseType=responseType
xhr.open(method,url)
xhr.onload = function(){
	// console.log(xhr.response)
	const serverResponse = xhr.response
	const listedItems =serverResponse.response
  var finalTweetString = ""
  var i;
  for (i=0;i<listedItems.length;i++){
    var currentItem = "<div class='mb-4'><h1>"+listedItems[i].id+"</h1>"+"<p>"+listedItems[i].content+"</p></div>"
    // console.log(currentItem)
    finalTweetString+=currentItem
  }
  // console.log(finalTweetString)
  tweetElement.innerHTML=finalTweetString
	// console.log(listedItems)
}
xhr.send()

</script>
{% endblock content %}
