{% extends 'base.html' %}

{% block head_title%}
 -> This is amazing
{% endblock head_title %}

{% block content %}
<div class="row text-center">
  <div class="col">
      <h2>Welcome To Tweetme2</h2>
  </div>
</div>

<div class ='row' id="tweet">
  Loading....
</div>
<script>
const tweetElement = document.getElementById("tweet")
// tweetElement.innerHTML="Loading ....."
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = 'json'

function handleDidLike(tweet_id,currentcount) {
  console.log(tweet_id);
  console.log(currentcount);
  currentcount++
  console.log(currentcount);


}

function LikeBtn(tweet) {
    return '<button class="btn btn-primary btn-sm" name="button" onclick =handleDidLike('+tweet.id+','+tweet.likes+')>'+tweet.likes+' Likes</button>';
}

function formatTweetElement(tweet) {
      var formattedElement = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id ='tweet-"+tweet.id+"'><p>"+tweet.content+"</p><div class ='btn-group'>"+LikeBtn(tweet)+"</div></div>"
      return formattedElement;
}

xhr.responseType=responseType
xhr.open(method,url)
xhr.onload = function(){
	// console.log(xhr.response)
	const serverResponse = xhr.response
	const listedItems =serverResponse.response
  var finalTweetString = ""
  var i;
  for (i=0;i<listedItems.length;i++){
    var tweetObj = listedItems[i]
    var currentItem =formatTweetElement(tweetObj)
    // console.log(currentItem)
    finalTweetString+=currentItem
  }
  // console.log(finalTweetString)
  tweetElement.innerHTML=finalTweetString
	// console.log(listedItems)
}
xhr.send()

</script>
{% endblock content %}
